<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FUC Events</title>
</head>
<body>
  <style>
    body{
      background: black;
      font-size: 12px;
      color: white;
    }

    *{
      box-sizing: border-box;
    }

    h2{
      text-align: center;
    }

    .eventList{
      padding: 0;
      margin: auto;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
    }

    .eventList li{
      display: block;
      width: 40em;
      height: 5em;
      margin: .5em auto;
      font-size: 1em;
      color: white;
      border: 1px solid white;
    }

    .eventList article{
      position: relative;
      height: 100%;
      width: 100%;
    }

    .eventList article header{
      font-size: 1.5em;
    }

    .eventList article header span{
      float: right;
    }

    .eventList article header span.now{
      color: green;
    }

    .eventList article header span.past{
      color: red;
    }

    .eventList article main{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  </style>
  <h2>FUC February Game Nights</h2>

  <ul id="app" class="eventList">
    <template v-for="event in time">
      <li>
        <article>
          <header>
            {{event.name}} <span v-bind:class="{past: event.moment <= pastMoment, now: event.moment < now && event.moment >= pastMoment}">{{until(event.moment)}}</span>
          </header>
           <main>{{event.moment.local().format('dddd')}} at {{event.moment.local().format('h:mm:ss A')}}. <a v-if="event.link" :href="event.link">Sign Up</a></main>
        </article>
      </li>
    </li>
  </ul>
  </template>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js'></script>
  <script>
    window.events =  [
      {
        name: "Tricky Towers Game Night",
        time: "3-1-2017 11:00 PM GMT",
        host: "Lewis"
      },
      {
        name: "Jackbox Party Pack Game Night",
        time: "3-2-2017 3:00 AM GMT",
        host: "Ercrd"
      },
      {
        name: "Game Night",
        time: "3-3-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Tower Unite Game Night",
        time: "3-4-2017 10:00 PM GMT",
        host: "Bryce"
      },
      {
        name: "Starbound Game Night",
        time: "3-5-2017 10:00 PM GMT",
        host: "Marmarru"
      },
      {
        name: "Cytube Video Night - Time TBA",
        time: "3-5-2017 7:00 PM GMT",
        host: "Lil Dip"
      },
      {
        name: "Overwatch Game Night",
        time: "3-6-2017 8:00 PM GMT",
        host: "Catpun"
      },
      {
        name: "Drawful 2 Game Night",
        time: "3-7-2017 12:00 AM GMT",
        host: "Cute Price"
      },
      {
        name: "Game Night",
        time: "3-8-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-9-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Smash Brothers Game Night",
        time: "3-10-2017 10:00 PM GMT",
        host: "FluffyMetroid"
      },
      {
        name: "Rust Game Night",
        time: "3-11-2017 8:00 PM GMT",
        host: "Spaztika"
      },
      {
        name: "Don't Starve Game Night",
        time: "3-12-2017 7:00 PM GMT",
        host: "Silvia"
      },
      {
        name: "Smash Brothers Game Night",
        time: "3-13-2017 10:00 PM GMT",
        host: "Bryce"
      },
      {
        name: "Golf With Your Friends Game Night",
        time: "3-14-2017 11:00 PM GMT",
        host: "Slopdog"
      },
      {
        name: "GTA5 Game Night",
        time: "3-15-2017 10:00 PM GMT",
        host: "Rusty"
      },
      {
        name: "Game Night",
        time: "3-16-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-17-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Overwatch Game Night",
        time: "3-18-2017 8:00 PM GMT",
        host: "Finn"
      },
      {
        name: "Duck Game Game Night",
        time: "3-19-2017 12:00 AM GMT",
        host: "Fluff"
      },
      {
        name: "Game Night",
        time: "3-20-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-21-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-22-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-23-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-24-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Terraria Game Night",
        time: "3-25-2017 9:00 PM GMT",
        host: "Arphenion"
      },
      {
        name: "Lethal League Game Night",
        time: "3-26-2017 7:00 PM GMT",
        host: "Christian"
      },
      {
        name: "Game Night",
        time: "3-27-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-28-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-29-2017 7:00 PM GMT",
        host: ""
      },
      {
        name: "Game Night",
        time: "3-30-2017 7:00 PM GMT",
        host: ""
      }
    ];

    var app = new Vue({
      el: '#app',

      data: {
        events: window.events,
        now: moment(),
        pastMoment: moment().add(-2, "hours"),
        aux: function(moment){
          return moment >= this.pastMoment ? "is" : "was";
        },
        until: function(moment){
          if(moment > this.now){
            return this.now.to(moment, true);
          } else if(moment >= this.pastMoment){
            return "NOW";
          } else {
            return this.now.to(moment);
          }
        }
      },

      created: function(){
        console.log(_.sortBy(this.events, "moment"));
        for(i = this.events.length - 1; i >= 0; i--){
          this.events[i].moment = moment(this.events[i].time);
        }
      },

      computed: {
        time: function(){return _.sortBy(this.filteredEvents, "moment")},
        filteredEvents: function(){
          return this.events.filter(function(event){
            return event.host !== ""
          });
        }
      }
    });
  </script>
</body>
</html>
